* {
    outline: medium none !important;
}

body {
    background: none repeat scroll 0 0 #FFFFFF;
    color: #333333;
    font-family: Lucida Sans,Lucida Grande,Arial !important;
    font-size: 13px !important;
    margin: 0;
    padding: 2em;
}

button {
    background-color: #E4F2FF;
    background-image: url("//ajax.googleapis.com/ajax/libs/dojo/1.7.4/dijit/themes/claro/form/images/button.png");
    background-position: center top;
    background-repeat: repeat-x;
    border: 1px solid #769DC0;
    border-radius: 4px;
    font-size: 1em;
    padding: 2px 8px 4px;
}

button:hover {
    background-color: #AFD9FF;
    color: #000000;
}

h1 {
    font-size: 1.5em;
}

.break {
    clear: both;
    float: none;
}
